@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import 'bourbon';
@import 'neat';

///////////////////////////////////////////////////////////////////////////////


* {
  background-color: #FAFAFA; }

h2 {
  font-size: 40px; }

td {
  font-weight: bold; }
